input,textarea{
    color: var(--black);
}
.contact-list{
    padding-left: 15px;
    position: relative;
}
.contact-list:after{
    position: absolute;
    content: '';
    width: 3px;
    height: 100%;
    background-color: var(--primary-color);
    left: 0;
    top: 0;
}
.contact-leftside{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.contact-title{
    color: var(--primary-color);
    font-weight: bold;
    font-family: var(--source-sans);
}
.contact-details{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.contact-icon{
    color: var(--primary-color) !important;
    font-size: 25px;
}

.contact-details a{
    color: var(--black);
    font-weight: 600;
}
.contact-social-icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid var(--primary-color);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-social-icons a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    transition: var(--common-transition);
}
.contact-social-icons:hover a{
    transform: rotateY(720deg);
}
.contact-text a{
    color: var(--black) !important;
    font-weight: normal !important;
}
.contact-form-wrapper{
    padding: 20px;
    box-shadow: var(--box-shadow-lg);
    border-radius: var(--common-radius);
    background-color: var(--white);
}
.contact-form-heading{
    padding: 20px !important;
    padding-top: 0 !important;
    color: var(--black);
    font-weight: normal !important;
}
.input-box{
    padding: 10px 10px 10px 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: var(--common-radius);
    box-shadow: var(--box-shadow-lg);
    background-color: var(--white);
}
.input-box::placeholder{
    color: var(--black);
}
.input-wrapper{
    position: relative;
}
.input-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px !important;
    color: var(--primary-color);
}
.input-icon-textarea{
    position: absolute;
    top: 18%;
    transform: translateY(-50%);
    left: 30px !important;
    color: var(--primary-color);
}
.textarea-box{
height: 120px;    
}