.preloader-left,.preloader-right{
    width: 50%;
    height: 100%;
    position: fixed;
    background-color: brown;
    z-index: 99999999999;
    background-color: var(--primary-color);
    transition: 2s;
}
.preloader-left{
  top: 0;
  left: 0;
 
}
.preloader-right{
bottom: 0;
right: 0;
}
.preloader-icon{
    display: inline-block;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}
.preloader-icon path{
    fill: var(--white);
}
.leftPreloadHide{
 top: -120%;
}
.rightPreloadHide{
  bottom: -120%;
}